// -----------------------------------------------------------------------------------------
// | RST | F1  | F2  | F3  |     |     |     |LOCK |     |     | BOOT|
// |     | F4  | F5  | F6  | F7  | F8  |     |     |     |     |     |
// |     | F9  | F10 | F11 | F12 |     |     |RGUI |RALT |RCTRL|RSHFT|
//             |     |     |     |     |     |     |
function_layer {
    display-name = "Function";
    bindings = <
   &kp F1      &kp F2       &kp F3       &kp F4       &trans           &trans       &ok_lock     &trans      &trans       &bootloader
   &kp F5      &kp F6       &kp F7       &kp F8       &trans           &trans       &trans       &trans      &trans       &trans
   &kp F9      &kp F10      &kp F11      &kp F12      &trans           &trans       &kp RGUI     &kp RALT    &kp RCTRL    &kp RSHFT
                            &trans       &trans       &trans           &trans       &trans       &trans
    >;
};
